<header class="blueheader">
    <div class="main">
        <div class="inner_links">
            <a routerLink=""><ng-icon name="home"/></a>
        </div>
        <div class="outer_links">
            <a href="../../../../assets/CV_Cuvelier_Mathieu_Developpeur_CSharp_.Net.pdf" target="_blank"><ng-icon name="cv"/></a>
            <a href="{{linkedInUrl}}" target="_blank"><ng-icon name="linkedIn"/></a>
            <a href="https://github.com/CuvelierMathieu" target="_blank"><ng-icon name="github"/></a>
            <a href="mailto:mathieu@cuvelier.dev"><ng-icon name="mailto"/></a>
        </div>
    </div>
</header>
