.main-container {
    margin: 5vb;
    min-height: 80vb;
    background-color: white;
    opacity: 0.8;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 4px;
}

.age {
    font-style: italic;
}